.root:global.rsg-code-props-table {
    font-size: 12px;
}

.root :global .rsg-code-props-table-heading-row th {
    padding: 12px 0;

    font-size: 10px;
    text-align: left;
    text-transform: uppercase;
}

.root :global .rsg-code-props-table-row--top {
    border-top: 1px solid rgba(0, 0, 0, 0.03);
}

.root :global .rsg-code-props-table-row td {
    padding: 6px 0;
}

.root :global .rsg-code-props-table-row td:not(:last-of-type) {
    padding-right: 12px;
}

.root :global .rsg-code-props-table-row td:nth-child(3) code {
    /**
	 * Prevent the prop's default cell from growing too large and making it
	 * unreadable! It won't be readable very easily for large defaults, but it
	 * can be copy/pasted. Open to other ideas!
	 */
    display: block;
    overflow: hidden;
}
